---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/home/Hero.astro";
import Values from "../components/home/Values.astro";
import History from "../components/home/History.astro";
import Menu from "../components/home/Menu.astro";
import VisitUs from "../components/VisitUs.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Values />
    <History />
    <Menu />
    <VisitUs />
  </main>
</Layout>
