---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Values from '../components/Values.astro';
import Historia from '../components/Historia.astro';
import Menu from '../components/Menu.astro';
import Visitanos from '../components/Visitanos.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Values />
    <Historia />
    <Menu />
    <Visitanos />
  </main>
</Layout>
